html,
body {
    font-size: 12px;
}

ul {
    margin: 0;
    padding: 0
}

li {
    list-style: none;
}

.user-wrapper,
.message-wrapper {
    border: 1px solid #dddddd;
    overflow-y: auto
}

.user-wrapper {
    height: 546px;
}

.user {
    cursor: pointer;
    position: relative;
    padding: 5px 0;
}

.user:hover {
    background: #eee;
}

.user:last-child {
    margin-bottom: 0;
}

.pending {
    position: absolute;
    left: 13px;
    top: 15px;
    background: #b600ff;
    margin: 0;
    border-radius: 50%;
    /* width: 18px; */
    height: 18px;
    line-height: 18px;
    padding: 0 5px;
    color: #fff;
    font-size: 12px;
}

.media {
    display: flex;
    align-items: center;
}

.media-left {
    margin: 0 10px;
}

.media-left img {
    width: 64px;
    border-radius: 64px
}

.media-body p {
    padding: 3px 0;
    margin-bottom: 0;
}

.message-wrapper {
    padding: 10px;
    height: 280px;
    background: #cecece;
}

.messages .message {
    margin-bottom: 15px;
}

.messages .message:last-child {
    margin-bottom: 0
}

.received,
.sent {
    width: 65%;
    padding: 3px 10px;
    border-radius: 10px;
}

.received {
    background: #fff;
}

.sent {
    background: #3bebff;
    float: right;
    text-align: left;
}

.message p {
    margin: 5px 0;
}

.date {
    color: #777777;
    font-size: 12px;
}

.active {
    background: #eeeeee
}

input[type=text] {
    width: 100%;
    /* padding: 12px 20px; */
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #348a80;
}

input[type=text]:focus {
    border: 1px solid #aaaaaa;
}

::placeholder {
    font-size: 12px;
    /* color: red; */
}

.sendMessage {
    font-size: 10px;
}

.form-control {
    all: none;
}

.form-control {
    display: block;
    width: 100%;
    height: 31px;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    outline: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #348a80;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control-textarea {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    outline: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #348a80;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.bg-orange {
    background: orangered;
}

.color-red {
    color: red;
}

.formCreatedQuestion {
    width: 100%;
    padding: 3px 10px;
    border-radius: 10px;
    /* float: right; */
    margin: 0 auto;
    background: #3bebff;
}

p {
    margin-bottom: 0;
}

.fa-window-close-o:before {
    content: "\f2d4"
}

.text-danger {
    color: red;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

.border-content-chat-box {
    border-left: 4px solid #188b86;
    border-right: 4px solid #188b86;
    border-bottom: solid 4px #188b86;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.title-chatbox {
    color: #009385;
    margin-top: 20px;
    margin-right: 40px;
    font-size: 14px;
}

.closeChatMessage {
    cursor: pointer;
    color: #f7921a;
    font-size: 16px;
    border: solid 2px #f7921a;
    border-radius: 4px;
    padding: 2px 6px 0px 6px;
    top: 5px;
    right: 0;
}

.input-sendMessage {
    margin-bottom: 10px;
    margin-top: 5px;
}

.border-content-chat-box .message-wrapper {
    border: 1px solid #188b86;
}