/* menu- */

.banner-content {
    padding: 90px 10px 80px;
    font-size: 11px;
}

.navbar-nav .dropdown-menu li a {
    padding: 10px 25px 10px 15px;
    text-transform: inherit;
}

.navbar-nav>li>a {
    text-transform: uppercase;
    color: #fff;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    padding: 14px 0;
    margin: 0 16px;
    transition: background 350ms, color 350ms, border-color 350ms;
}

.btn_submit_res {
    background: orange;
    color: #fff;
    min-width: inherit;
    min-height: inherit;
    padding: 8px 20px;
    margin-top: 0px;
}

.postion-relative {
    position: relative;
}

.postion-absolute {
    position: absolute;
}

.r-10 {
    right: 10px;
}


/* menu- */


/* extra.css- */

.h1x {
    height: 1px
}

.fw6 {
    font-weight: 600
}

.f25 {
    font-size: 25px
}

.f20 {
    font-size: 20px
}

.f17 {
    font-size: 17px
}

.mgr5 {
    margin-right: 5px
}

.mgb10 {
    margin-bottom: 10px
}

.mgt10 {
    margin-top: 10px
}

.pdr40 {
    padding-right: 40px
}

.pdl40 {
    padding-left: 40px
}

.pdb20 {
    padding-bottom: 20px
}

.pdt20 {
    padding-top: 20px
}

.pd10 {
    padding: 10px
}

.noUnderLine {
    text-decoration-line: none!important
}

.CropImg:before {
    content: "";
    display: block;
    padding-bottom: 70%
}

.CropImg {
    width: 100%;
    position: relative;
    z-index: 1
}

.CropImg .thumbs {
    overflow: hidden;
    text-align: center;
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.CropImg .thumbs img {
    width: auto;
    height: 100%;
    max-width: 150%;
    max-height: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}


/* extra.css- */


/* all.min.css */

@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    font-display: auto;
    src: url("../webfonts/fa-solid-900.eot");
    src: url("../webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.woff") format("woff"), url("../webfonts/fa-solid-900.ttf") format("truetype"), url("../webfonts/fa-solid-900.svg#fontawesome") format("svg");
}

@font-face {
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url("../webfonts/fa-brands-400.eot");
    src: url("../webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-brands-400.woff2") format("woff2"), url("../webfonts/fa-brands-400.woff") format("woff"), url("../webfonts/fa-brands-400.ttf") format("truetype"), url("../webfonts/fa-brands-400.svg#fontawesome") format("svg");
}

@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url("../webfonts/fa-regular-400.eot");
    src: url("../webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-regular-400.woff2") format("woff2"), url("../webfonts/fa-regular-400.woff") format("woff"), url("../webfonts/fa-regular-400.ttf") format("truetype"), url("../webfonts/fa-regular-400.svg#fontawesome") format("svg");
}


/* have @fon-face is load icon */


/* all.min.css */


/* bundle */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}


/* bundle */


/* style.min.css */

body {
    font-family: "OpenSans", sans-serif;
    color: #3c3c3c;
    font-size: 16px;
    line-height: 1.75;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

html,
body {
    overflow-x: hidden
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
table {
    margin: 0 0 18px
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
table:last-child {
    margin-bottom: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Quicksand", sans-serif;
    line-height: 1.3;
    font-weight: 700;
    color: #373e45
}

h1,
.h1,
.heading-lg,
.heading-lg-lead {
    font-size: 3.125em
}

h2,
.h2 {
    font-size: 2.5em;
    line-height: 1.1
}

h3,
.h3,
h4,
.h4,
.heading-md,
.heading-md-lead {
    font-size: 1.65em;
    font-weight: 500
}

h4,
.h4,
h4.heading-md {
    font-size: 1.5em;
    margin-bottom: 12px
}

h5,
.h5 {
    font-size: 1.125em;
    line-height: 1.25
}

ul,
ol {
    padding: 0;
    margin: 0
}

ul li,
ol li {
    list-style: none
}

.lead {
    line-height: 1.6
}

p.lead {
    font-size: 1.125em;
    line-height: 1.67
}

.relative {
    position: relative
}

.heading-section {
    line-height: 1.1;
    text-transform: uppercase;
    color: #373e45;
    font-weight: 700
}

.heading-section,
.heading-lead {
    margin-bottom: 20px
}

.heading-section:last-child,
.heading-lead:last-child {
    margin-bottom: 0
}

b,
strong {
    font-weight: 600
}

a {
    outline: 0;
    transition: all 0.5s;
    color: #f7921a
}

a:link,
a:visited {
    text-decoration: none
}

.light,
.light h1,
.light h2,
.light h3,
.light h4,
.light h5,
.light h6,
.light blockquote {
    color: #fff
}

.bg-grey {
    background: #f8f8f8
}

.navbar-toggle {
    margin-right: 0
}

@media only screen and (max-width: 991px) {
    body {
        font-size: 13px;
        -webkit-text-size-adjust: 100%
    }
    .container,
    .container-fluid {
        max-width: 720px
    }
    h2,
    .h2 {
        font-size: 2em
    }
}

@media only screen and (max-width: 767px) {
    .container,
    .container-fluid {
        max-width: 100%
    }
}

@media only screen and (max-width: 480px) {
    body {
        min-width: 320px
    }
    h1,
    .h1,
    .heading-lg,
    .heading-lg-lead {
        font-size: 1.875em
    }
    h2,
    .h2 {
        font-size: 1.5em
    }
    h3,
    .h3 {
        font-size: 1.3em
    }
}

img {
    outline: 0;
    border: 0 none;
    max-width: 100%;
    height: auto;
    vertical-align: top;
    -ms-border-radius: 5px;
    border-radius: 5px
}


/* bundle */

img {
    border: 0;
    vertical-align: middle
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

input {
    line-height: normal
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
    font-family: "Arial", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    color: #337ab7;
    text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 10px;
    margin-bottom: 10px
}

h1,
.h1 {
    font-size: 36px
}

h2,
.h2 {
    font-size: 30px
}

h3,
.h3 {
    font-size: 24px
}

h4,
.h4 {
    font-size: 18px
}

h5,
.h5 {
    font-size: 14px
}

p {
    margin: 0 0 10px
}

.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center;
}

.text-capitalize {
    text-transform: capitalize;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 10px
}

ul ul,
ol ul,
ul ol,
ol ol {
    margin-bottom: 0
}

.container,
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width: 768px) {
    .container,
    .container-fluid {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .resign_form .form-group,
    .resign_form .form-control {
        margin-bottom: 0;
    }
    h4.font-register-title {
        font-size: 18px;
    }
    .navbar-nav>li {
        float: left;
    }
    .navbar {
        border-radius: 4px;
    }
    .container,
    .container-fluid {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container,
    .container-fluid {
        width: 1170px;
    }
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
}

.col-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none
}

.col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%
}

.col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
}

.col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
}

.col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%
}

.col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%
}

.col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%
}

.col-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
}

.col-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%
}

.col-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%
}

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

@media (min-width:576px) {
    .col-sm {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }
    .col-sm-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }
    .col-sm-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }
    .col-sm-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }
    .col-sm-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .col-sm-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
    .col-sm-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }
    .col-sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .col-sm-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }
    .col-sm-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }
    .col-sm-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }
    .col-sm-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }
    .col-sm-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }
    .col-sm-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media (min-width:768px) {
    .col-md {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }
    .col-md-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }
    .col-md-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }
    .col-md-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }
    .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
    .col-md-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .col-md-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }
    .col-md-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }
    .col-md-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }
    .col-md-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }
    .col-md-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }
    .col-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media (min-width:992px) {
    .mtContent {
        margin-top: 70px;
    }
    .col-lg {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }
    .col-lg-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }
    .col-lg-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }
    .col-lg-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }
    .col-lg-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .col-lg-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
    .col-lg-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }
    .col-lg-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .col-lg-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }
    .col-lg-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }
    .col-lg-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }
    .col-lg-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }
    .col-lg-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }
    .col-lg-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media (min-width:1200px) {
    .col-xl {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }
    .col-xl-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }
    .col-xl-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }
    .col-xl-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }
    .col-xl-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .col-xl-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
    .col-xl-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }
    .col-xl-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .col-xl-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }
    .col-xl-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }
    .col-xl-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }
    .col-xl-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }
    .col-xl-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }
    .col-xl-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    outline: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #348a80;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.form-control::-webkit-input-placeholder {
    color: #999
}

.form-group {
    margin-bottom: 15px
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'arial', "OpenSans", sans-serif;
    font-weight: 700;
    padding: 10px 24px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    min-width: 100px;
    outline: none;
    box-sizing: border-box;
    transition: all 0.4s;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear
}

.collapse {
    display: none
}

.collapse.in {
    display: block
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: .35s;
    -o-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442
}

.dropup,
.dropdown {
    position: relative
}

.site-header.is-transparent .navbar-nav>li.active>a {
    color: #ffa500;
}

.dropdown-menu {
    position: absolute;
    top: 84%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid #fff;
    border-radius: 4px;
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

.nav>li {
    position: relative;
    display: block
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.container>.navbar-header,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container-fluid>.navbar-collapse {
    margin-right: -15px;
    margin-left: -15px
}

.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px
}

.navbar-brand>img {
    display: block
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.navbar-toggle:focus {
    outline: 0
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px
}

.navbar-nav {
    margin: 0px 0px;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0
}

.modal-open {
    overflow: hidden
}

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0)
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}


/* .modal-dialog {
    position: relative;
    width: 600px;
    margin: 30px auto
} */

.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0
}


/* .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: rgba(0, 0, 0, 0.5)
} */

.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0)
}

.modal-backdrop.in {
    opacity: .5;
    filter: alpha(opacity=50)
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5
}

.modal-header .close {
    margin-top: -2px
}

.modal-title {
    margin: 0;
    line-height: 1.42857143
}

.modal-body {
    position: relative;
    padding: 15px
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}

.modal-footer .btn+.btn {
    margin-left: 5px;
    margin-bottom: 0
}

.modal-footer .btn-group .btn+.btn {
    margin-left: -1px
}

.modal-footer .btn-block+.btn-block {
    margin-left: 0
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

.fade.in {
    opacity: 1;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20)
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical>.btn-group:before,
.btn-group-vertical>.btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
    content: " ";
    display: table
}

.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical>.btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-header:after,
.modal-footer:after {
    clear: both
}

.fa-comment-o:before {
    content: "\f0e5"
}

.fa-comments-o:before {
    content: "\f0e6"
}

.fa-comments:before {
    content: "\f086"
}

.fa-comment:before {
    content: "\f075"
}

.fa-download:before {
    content: "\f019"
}

.fa-calendar-o:before {
    content: "\f133"
}

.fa-calendar:before {
    content: "\f133";
}

.fa-eye:before {
    content: "\f06e"
}

.fa-facebook-f:before,
.fa-facebook:before {
    content: "\f09a"
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
    content: "\f0c9"
}

.fa-angle-up:before {
    content: "\f106"
}

.fa,
.fas,
.far,
.fal,
.fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1
}

.fa-accusoft:before {
    content: "\f369"
}

.fa-book:before {
    content: "\f02d"
}

.fa-building:before {
    content: "\f1ad"
}

.fa-circle:before {
    content: "\f111"
}

.fa-facebook-f:before {
    content: "\f39e"
}

.fa-google-plus-g:before {
    content: "\f0d5"
}

.fa-home:before {
    content: "\f015"
}

.fa-map-marker-alt:before {
    content: "\f3c5"
}

.fa-newspaper:before {
    content: "\f1ea"
}

.fa-search:before {
    content: "\f002"
}

.fa-servicestack:before {
    content: "\f3ec"
}

.fa-table:before {
    content: "\f0ce"
}

.fa-youtube:before {
    content: "\f167"
}

.fa-torah:before {
    content: "\f6a0";
}

.fa-address-card:before {
    content: "\f2bb";
}

.fa-book-open:before {
    content: "\f518";
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.fab {
    font-family: 'Font Awesome 5 Brands'
}

.fa,
.fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

[class*=" pe-7s-"],
[class^=pe-7s-] {
    display: inline-block;
    font-family: Pe-icon-7-stroke;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.pe-7s-cash:before {
    content: "\e68c"
}

.pe-7s-wallet:before {
    content: "\e600"
}

.pe-7s-repeat:before {
    content: "\e61b"
}

.pe-7s-lock:before {
    content: "\e63f"
}

.pe-7s-global:before {
    content: "\e64f"
}

.pe-7s-chat:before {
    content: "\e66d"
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg')
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: Pe-icon-7-stroke;
    src: url(../fonts/Pe-icon-7-stroke.eot?d7yf1v);
    src: url(../fonts/Pe-icon-7-stroke.eot?#iefixd7yf1v) format('embedded-opentype'), url(../fonts/Pe-icon-7-stroke.woff?d7yf1v) format('woff'), url(../fonts/Pe-icon-7-stroke.ttf?d7yf1v) format('truetype'), url(../fonts/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke) format('svg');
    font-weight: 400;
    font-style: normal
}


/* all-min-css  fontasome*/

@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url("../webfonts/fa-regular-400.eot");
    src: url("../webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-regular-400.woff2") format("woff2"), url("../webfonts/fa-regular-400.woff") format("woff"), url("../webfonts/fa-regular-400.ttf") format("truetype"), url("../webfonts/fa-regular-400.svg#fontawesome") format("svg");
}

.far {
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
}


/* all-min-css  fontasome*/


/* home---, */

.site-header .navbar {
    background: #188b86;
    border: 0 none;
    min-width: 300px;
    color: #36454e;
    margin: 0;
    z-index: 9;
    padding: 0;
    line-height: 70px;
    display: flex;
    justify-content: center;
}

.site-header .navbar .container .navbar-brand {
    margin-left: 0
}

.site-header .navbar-brand {
    height: auto;
    padding: 0
}

.site-header .navbar-brand img {
    width: auto;
    max-width: 100%;
    max-height: 50px
}

.site-header .logo-light {
    display: none
}

.social {
    margin: 0;
    padding: 0;
    list-style: none
}

.site-header .navbar-brand {
    margin-top: 12px;
    margin-bottom: 20px;
    margin-left: 0;
    z-index: 6
}


/* .site-header.is-transparent {
    color: #fff
} */

.site-header.is-transparent {
    position: fixed;
    color: #fff;
    z-index: 100;
    width: 100%;
}

.site-header.is-transparent .navbar-brand .logo-light {
    display: block
}

.site-header.is-transparent .navbar-brand .logo-dark {
    display: block
}

.navbar-nav .caret {
    margin-top: 0;
    vertical-align: middle;
    transform: translateY(-50%)
}

.navbar-nav>li>a {
    text-transform: uppercase;
    color: #fff;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    padding: 14px 0;
    margin: 0 16px;
    transition: background 350ms, color 350ms, border-color 350ms;
}

.site-header .navbar-nav>li>a {
    text-align: center;
    font-size: 11px;
}

.dowload_app img {
    width: 150px;
}

.footerContent .social .solo-item {
    display: inline-block;
    text-align: center;
    padding-right: 18px;
    padding-top: 15px;
    padding-left: 0;
}

.footerContent .social a i {
    border: 1px solid #fff;
    border-radius: 50%;
    display: block;
    font-size: 22px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    width: 36px;
    color: #fff;
    background: transparent;
    -webkit-transition: all 500ms ease-out 0s;
    -moz-transition: all 500ms ease-out 0s;
    -o-transition: all 500ms ease-out 0s;
    transition: all 500ms ease-out 0s;
    font-size: 15px;
}

.ul-footer {
    margin-left: 150px;
}

.ul-footer li {
    list-style-type: disc;
    color: #fff;
}

.ul-footer li a {
    color: #fff;
}

.display-none {
    display: none;
}

.select2-container {
    width: 100% !important;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}

.bgGray {
    background: #eee;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 .heading-md,
.heading-md-lead {
    font-family: arial;
    line-height: 1.3;
    font-weight: 700;
    color: #373e45;
    font-size: 1.5em;
}

@media only screen and (max-width: 992px) {
    .prosixthree {
        margin-bottom: 15px;
        padding-bottom: 10px;
        font-size: 21px;
        padding: 10px 0;
    }
    #mainnav {
        height: 70px;
        line-height: 70px;
        float: right;
        margin-left: 0;
        padding-right: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 991px) {
    .mtContent {
        margin-top: 62px;
    }
    .position-relative-md {
        position: relative;
    }
    .site-header.is-transparent .topbar,
    .site-header.is-transparent .navbar {
        height: 60px;
    }
    .to-way-none-991 {
        display: none;
    }
    .site-header .navbar-toggle {
        z-index: 20;
        float: left;
        margin: 12px 15px 12px 15px;
    }
    .site-header.is-transparent .navbar-brand .logo-dark {
        display: none;
    }
    .site-header .navbar-brand img {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    html,
    body {
        font-size: 16px;
    }
    h4,
    .h4,
    h4.heading-md {
        font-size: 1.3em;
        margin-bottom: 12px;
    }
    .font-title-post-responsive,
    .font-title-responsive,
    .font-title-voucher-item,
    .prosixthree,
    .PostSaleLeft .vouchers a h2 {
        font-size: 18px;
    }
    .prosixthree {
        margin-bottom: 15px;
        padding-bottom: 10px;
        font-size: 21px;
        padding: 10px 0;
    }
}

.position-fixed {
    position: fixed;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

.title-chatbox {
    color: #009385;
    margin-top: 20px;
    margin-right: 40px;
    font-size: 14px;
}

.closeChatMessage {
    cursor: pointer;
    color: #f7921a;
    font-size: 16px;
    border: solid 2px #f7921a;
    border-radius: 4px;
    padding: 2px 6px 0px 6px;
    top: 5px;
    right: 15px;
}

.closeFrameChat {
    bottom: -100px;
    cursor: pointer;
    color: #f7921a;
    font-size: 16px;
    border: solid 2px #f7921a;
    border-radius: 4px;
    padding: 2px 6px 0px 6px;
    right: 15px;
    z-index: 2000;
}

#contentPageChat {
    background: #fff;
    display: none;
    position: fixed;
    z-index: 1000;
    border-radius: 8px;
    overflow: hidden;
    width: 325px;
    height: 410px;
    bottom: 0px;
    right: 0px;
    margin-right: 2px;
    border: solid 4px #188b86;
}

#pageChat {
    display: none;
    position: fixed;
    z-index: 1000;
    border-radius: 8px;
    overflow: hidden;
    width: 325px;
    height: 340px;
    bottom: 0px;
    right: 0px;
    margin-right: 2px;
}

@media only screen and (max-width: 576px) {
    .form-group {
        margin-bottom: 4px;
    }
    .to-way-none-mobile,
    .to-way-none-576 {
        display: none;
    }
    .resign_form .modal-body {
        position: relative;
        padding: 0 15px
    }
    #show_red_modal #form_register .form-group {
        margin-bottom: 4px;
    }
    .mgLogin {
        margin-right: 15px;
        margin-top: -9px;
    }
    img[alt] {
        font-size: 0.5em;
    }
    .site-header.is-transparent .topbar,
    .site-header.is-transparent .navbar {
        height: 60px;
        background: #009385;
        position: absolute;
        width: 100%;
        z-index: 9;
        color: #fff !important;
    }
    .itemLocation .titleLocaltion h3 {
        font-size: 16px;
        color: #fff;
        text-align: left;
        margin-bottom: 0;
        padding: 8px 10px;
        padding-left: 10px;
    }
    .font-title-post-responsive,
    .font-title-responsive,
    .font-title-voucher-item,
    .prosixthree,
    .PostSaleLeft .vouchers a h2 {
        font-size: 18px;
    }
    h2.fontTitleLocation {
        font-size: 15px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 .heading-md,
    .heading-md-lead {
        font-family: arial;
        line-height: 1.3;
        font-weight: 700;
        color: #373e45;
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 413.7px) {
    h2.fontTitleLocation {
        font-size: 15px;
    }
    .fontCopyRight {
        font-size: 11px;
    }
    .font-name-company {
        font-size: 15px;
    }
    .responsive-footer-pd {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (max-width: 380px) {
    h2.fontTitleLocation {
        font-size: 13px;
    }
    .fontCopyRight {
        font-size: 10px;
    }
    .font-name-company {
        font-size: 14px;
    }
    .responsive-footer-pd {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media only screen and (device-width: 320px) {
    h4.font-register-title {
        font-size: 15px;
    }
    h2.fontTitleLocation {
        font-size: 11px;
    }
    .font-title-voucher-item,
    .prosixthree,
    .font-title-post-responsive,
    .itemLocation .titleLocaltion h3,
    .font-title-voucher-responsive {
        font-size: 16px;
    }
    .fontTitleLocation,
    .fontSendComment {
        font-size: 11px;
    }
    .btn {
        padding: 8px 16px;
    }
    .site-header.is-transparent .topbar,
    .site-header.is-transparent .navbar {
        height: 60px;
        background: #009385;
        position: absolute;
        width: 100%;
        z-index: 9;
        color: #fff !important;
    }
    .font-name-company {
        font-size: 13px;
    }
    .responsive-footer-pd {
        padding-right: 15px;
        padding-left: 15px;
    }
    .fontCopyRight {
        font-size: 9px;
    }
    .sanketoan {
        margin-bottom: 25px;
    }
}


/* home---- */


/* cus---home */

.clgreen {
    color: green;
}

.clwhite {
    color: #fff;
}

.mgb0 {
    margin-bottom: 0;
}

.site-header .navbar-brand img {
    width: auto;
    max-width: 200px;
    max-height: 60px;
    position: absolute;
    top: 0px;
    margin: 5px;
    height: 70px;
}

#mainnav {
    height: 70px;
    line-height: 70px;
    float: right;
    margin-left: 120px;
    padding-right: 0;
    margin-right: 0;
}

header .navbar-primary {
    position: relative !important;
    color: #000;
}

.site-header.is-transparent .topbar,
.site-header.is-transparent .navbar {
    height: 70px;
    background: #188b86;
    position: absolute;
    width: 100%;
    z-index: 9;
    color: #fff !important;
}


/* cus-home */


/* custome_style */

.logo {
    text-align: center;
}

.blueN {
    color: #009385;
}

.btn-warning {
    color: #ffffff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.itemLocation {
    border: 1px solid lightgray;
    /* border: 1px solid lightgray;
     */
}

.itemLocation .titleLocaltion {
    /* border: 1px solid #009385;
     */
    text-align: center;
    position: relative;
    background-color: #009385;
    display: flex;
    align-items: flex-end;
}

.itemLocation .titleLocaltion i {
    font-size: 18px;
    padding: 12px 16px;
    color: #fff;
}

.itemLocation .titleLocaltion h3 {
    font-size: 18px;
    color: #fff;
    text-align: left;
    /* display: inline-block; */
    margin-bottom: 0;
    padding: 8px 10px;
    padding-left: 10px;
    /* border-left: 1px solid white;
     */
}

.itemLocation .itemContent {
    position: relative;
    background-color: #fff;
    height: 330px;
    max-height: 330px;
    overflow-y: scroll;
}

.itemLocation .itemContent ul {
    padding: 0px;
    list-style: none;
    margin-bottom: 0;
}

.itemLocation .itemContent ul li {
    padding: 5px 10px;
    text-align: left;
    border-bottom: 1px solid rgb(216, 181, 181);
}

.itemLocation .itemContent ul li a {
    color: #333;
    font-size: 15px;
}

.itemLocation .itemContent ul li a i {
    color: #f7921a;
    font-size: 9px;
}

.itemLocation .itemContent ul li a i.iconLocal {
    font-size: 14px;
    margin-right: 0;
}

.itemLocation .itemContent ul li a i.iconBuilding {
    font-size: 14px;
    margin-right: 0;
}

.itemLocation .itemContent input {
    height: 35px;
    margin-bottom: 0;
}

.itemLocation .itemContent button {
    position: absolute;
    top: 3px;
    right: 6px;
    padding: 2px 7px;
    border-radius: 4px;
    color: #fff;
    background-color: #a19a90;
}

.container-style-section {
    background: #fff;
}

.floatLeft {
    float: left;
}

div.dropdown-container.drop {
    background: #009385 !important;
    display: absolute;
    z-index: 100;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: 11px;
}

.bgrBlueN {
    background: #009586;
}

.bgrWhite {
    background-color: #fff;
}

.text-block h2 {
    margin-bottom: 15px;
    margin-top: 0;
    text-align: center;
    font-weight: 700;
}

i.error {
    color: red;
}

.btnweb {
    background: #f7921a;
    border-color: #f7921a;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.bgOrange {
    background: #f7921a;
}

.navbar-nav>li.active>a,
.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
    color: #fff;
    /* background: transparent; */
}

.navbar-nav .dropdown-menu.active>a,
.navbar-nav .dropdown-menu li>a:hover,
.navbar-nav .dropdown-menu li>a:focus {
    color: #f7921a;
    background: #f5f5f5;
}

.dropdown-menu>li>a {
    display: block;
    /* padding: 3px 20px; */
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    /* color: #333; */
    white-space: nowrap;
}

ul li,
ol li {
    list-style: none;
}

.navbar-nav>li.quote-btn .btn {
    padding: 9px 24px 8px;
    font-size: 14px;
    font-weight: 700;
}

.box {
    transition: all .5s ease;
    padding: 30px;
}

.nvul ul li {
    list-style: circle;
    margin-left: 15px;
}

.clorang {
    color: orange;
}

.colorOrange {
    color: orange;
}

img {
    outline: 0;
    border: 0 none;
    max-width: 100%;
    height: auto;
    vertical-align: top;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

div.navbar-header {
    height: 0
}

.navbar-nav>li>a {
    color: #fff;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px
}

div.optionMenu.drop ul li a {
    color: #fff;
}

div.optionMenu.drop ul li {
    border-radius: 6px;
    height: 40px;
    line-height: 40px;
    transition: 0.5s;
    text-align: left;
    padding: 0 12px;
}

div.optionMenu.drop ul li:hover {
    background: orange;
    border-radius: 0;
}

label {
    font-weight: 700;
}

.margin-l-r-10 {
    margin: 0 10px;
}

.detailVoucher {
    padding: 5px 15px 10px;
}

.showPC {
    display: block;
}

.hidenPC {
    display: none;
}

.form-wid100 {
    width: 100%;
    margin: 0 15px
}

.category_post {
    background-color: #ebebeb;
}

.detailVoucher {
    background: #fff;
}

@media (min-width:768px) {
    .modal-dialog {
        width: 600px!important;
        margin: 30px auto!important;
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
    }
    .modal-sm {
        width: 300px
    }
}

@media (min-width:992px) {
    .to-way-none-md {
        display: none;
    }
    .to-way-block-md {
        display: block;
    }
    .to-way-inline-block-md {
        display: inline-block;
    }
    .relative-lg {
        position: relative;
    }
    .absolute-lg {
        position: absolute;
    }
    .modal-lg {
        width: 900px
    }
    div.dropdown-container.drop .list-option-user li a {
        height: 20px;
        color: #fff;
        width: inherit;
    }
    #mainnav div.dropdown-container.drop .list-option-user li {
        padding: 8px 15px;
        height: 36px;
    }
}

@media only screen and (min-width: 992px) and (max-width:1200px) {
    #mainnav {
        margin-left: 60px;
    }
    .navbar-nav>li>a {
        margin: 0 10px;
    }
}

@media only screen and (max-width: 991px) {
    .site-header.is-transparent .topbar,
    .site-header.is-transparent .navbar {
        height: 60px;
        background: #009385;
        position: absolute;
        width: 100%;
        z-index: 9;
        color: #fff !important;
    }
    .navbar-nav li .dropdown-menu li a {
        padding-left: 30px;
    }
    .navbar-nav li {
        text-align: left;
    }
    .navbar-nav li {
        border-bottom: 1px solid #f5f5f5;
    }
    .navbar-nav li .dropdown-menu {
        position: static;
        background: none;
        width: 100%;
        display: none;
        opacity: 1 !important;
        visibility: visible !important;
        box-shadow: none;
        text-align: center;
        float: none;
    }
    .navbar-nav li .dropdown-menu li a {
        font-size: 13px;
        color: #fff;
        font-weight: 400;
    }
    .navbar-nav li {
        border-bottom: 1px solid #f5f5f5;
    }
    .navbar-nav {
        margin: 0;
        float: none;
        text-align: center;
        background-color: #009385;
        border-top: 1px solid #f5f5f5;
    }
    .site-header .navbar-toggle {
        z-index: 20;
        float: left;
        margin: 12px 15px 12px 15px;
    }
    .mgLogin {
        margin-right: 15px;
        margin-top: -10px;
    }
    .to-way-block-991 {
        display: block;
    }
    div.optionMenu.drop ul li a {
        color: #fff;
    }
    .position-absolute-md {
        position: absolute;
    }
    .optionMenu {
        width: 180px;
    }
    div.optionMenu.drop ul li {
        border-radius: 6px;
        height: 40px;
        line-height: 40px;
        transition: 0.5s;
        text-align: left;
        padding: 0 12px;
    }
    div.dropdown-container.optionMenu {
        top: 65px;
        right: 0;
        margin-top: -5px;
    }
    div.optionMenu.drop ul li {
        border-radius: 6px;
        height: 40px;
        line-height: 40px;
        transition: 0.5s;
        text-align: left;
        padding: 0 12px;
    }
    .site-header .navbar-brand img {
        max-height: 40px
    }
    .gapsp {
        font: size 18px
    }
    #mainnav {
        margin-top: -20px
    }
    .navbar-toggle {
        float: left;
        margin-top: 6px;
        margin-bottom: 6px;
        padding: 10px 12px;
        background-color: #159fff;
    }
    .navbar-toggle .icon-bar {
        background-color: #fff
    }
    .navbar-header {
        background: #f7921a;
        clear: both;
        width: 100%;
        padding: 0 15px
    }
    .site-header .navbar-header {
        float: left;
        margin: 10px 0 0
    }
    .site-header .navbar .container {
        padding-left: 0;
        padding-right: 0
    }
    .site-header .navbar-brand {
        position: relative;
        left: 15px;
        width: 200px;
        margin-top: 10px;
        margin-bottom: 10px
    }
    /* .site-header .navbar-toggle {
        float: right;
        margin: 12px 15px 12px 0
    } */
    .site-header .navbar-header {
        background: none;
        padding: 0;
        margin-top: 0
    }
    .site-header.is-transparent .topbar,
    .site-header.is-transparent .navbar {
        position: static
    }
    .site-header.is-transparent .navbar-brand .logo-light {
        display: none
    }
}

.btn_submit_close {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    padding: 8px 24px;
}

.btn_submit_res {
    background: orange;
    color: #fff;
    min-width: inherit;
    min-height: inherit;
    padding: 8px 20px;
    margin-top: 0px;
}

@media (max-width: 768px) {
    .hidenPC {
        display: none;
    }
}

@media only screen and (max-width: 599px) {
    .banner-content {
        padding: 90px 10px 80px;
        font-size: 11px
    }
    .banner-content p {
        margin-bottom: 15px
    }
    .site-header {
        border-top: 4px solid #f8f8f8
    }
}

@media (max-width: 425px) {
    .itemLocation .titleLocaltion1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .itemLocation .titleLocaltion i {
        padding: 12px 7px;
    }
    .itemLocation .titleLocaltion1 h3 {
        font-size: 15px;
        padding: 0
    }
    .capchares {
        transform: scale(0.75);
        transform-Origin: 50% 50%;
        display: flex;
        justify-content: center;
    }
    .sanketoan {
        margin-bottom: 40px;
    }
}


/* pageginate */

.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

.pagination li {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.pagination li a,
.pagination li {
    z-index: 1;
    color: #007bff;
}

.pagination li.active {
    background: #007bff;
    z-index: 1;
    color: #fff;
}

.slick-prev,
.slick-next {
    height: 30px!important;
    width: 30px!important;
    background: #009385!important;
}